# Librerías esenciales
numpy
pandas
openpyxl

# Visualizaciones
matplotlib
seaborn
plotly-express

# Modelado y computación
scikit-learn
scipy

# APIs y scripts
wandb
streamlit
Flask
gunicorn
pyyaml
fire

# Miscelánea
geopandas
chart-studio
nltk
kaggle

altair<5

protobuf==3.20.3
pydeck==0.7.1